
$dark-grey: rgb(78,72,65);
$light-grey: rgb(188, 185, 174);
$white: white;
$light-blue: rgb(180, 213, 235);
$dark-blue: rgb(40, 59, 77);
$brown: rgb(90, 70, 51);
body{
  background-color: white;
}

.button{
  background-color: $light-blue;
  border-radius: 3px;
  color: white;
  font-family: helvetica regular, sans-serif;
}
////Header////
.name{
  a{
    // width: 20%;
  }
  img{
    width: 80px;
  }
}



.name i{
  margin: 0 15px;
  background-color: $dark-grey;

}

.top-bar{
  background-color: $dark-grey;
  color: $white;
  font-family: Bauer Bodoni Black;
  .title-area{
    width: 20%;
  }
  .toggle-topbar.menu-icon {
    // width: 100px;
      right: -400%;
    a{
      width: 200px;
      // margin-left: 40px;
    }
    img{
      position: absolute;
      left: -50%;
      width: 75px;
      // margin: 0 20px;
    }
  }

}
.contain-to-grid{
 background-color: $dark-grey; 
}

#wat{
  background-color: $dark-grey;
  font-family: bauer bodoni black;
}
#wat2{
 background-color: $dark-grey; 
 font-family: bauer bodoni black;
}
.main-menu li{
  border-bottom: 1px solid $white;
  background-color: $dark-grey;
}
.main-menu i{
  float: right;
  margin: 15px;
}
.top-bar-section .dropdown li{
  width: 200%;
  a{
    background-color: $dark-grey;
    font-family: helvetica regular, sans-serif;
  }
}
.content{
  width: 70%;
  margin: 0 auto;
}
.main_nav_left{
  padding: .5rem;
  .main_nav_int{
    padding: .5rem;
    border: 1px solid $light-grey;
    text-align: center;
    
  }
  .main_cap{
    padding: .5rem;
    h4{
      font-family: Bauer Bodoni Black;
    }
  }
  .main_nav_list{
    padding: 0;
  
  }
  .main_nav_list ul{
    list-style: none;
    padding: 0;
    margin: 0;
    li{
      font-size: .8rem;
      margin: 10px 0;
      background-color: $light-grey;
      padding: .5rem;
    }
    li:hover{
      background-color: $dark-grey;
    }
    a{
      color: black;
      font-family: helvetica regular, sans-serif;
    }
  }
}
.copyright{
  font-size: .6em;
}
.main_cap{
  margin-bottom: 10px;
}
.main_cap h4{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  font-family: Bauer Bodoni Black;
}
.main_cap span{
  font-size: .7rem;
  font-family: helvetica regular, sans-serif;
}
.mid_content{

  padding: .5rem;
}

.mid_int{
  padding: 0;
  text-align: center;

  img{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  img:hover{
    cursor: pointer;
  }
  a{
    color: black;
    font-size: .7rem;
    font-family: helvetica regular, sans-serif;
  }
  .mid_int_top{
    padding: .5em;
    border: 1px solid $light-grey;
    margin-bottom: 10px;
    // background-color: $light-blue;
  }
  .create_post{
    font-family: helvetica regular, sans-serif;
    padding: .5rem 0;
    border: 1px solid $light-grey;
    margin: 10px 0;
    .post_input{
      padding-left: .5rem;
    }
    .create_two{
      padding: 0;
      padding-right: .5rem;
    }
    .create_img{
      padding: 0;
      padding-right: .5rem;
    }
    .create_select select{
      margin-bottom: 0;
    }
    .create_btn{
      padding: 0;
      button{
        height: 35px;
        line-height: 5px;
        float: right;
        margin-bottom: 0;
      }
    }
  }
  
  .create_post i{
    font-size: 3.2em;
    float: right;
  }
  .filter_feed{
    font-family: helvetica regular, sans-serif;
    margin-top: 20px;
    padding: 0;
    text-align: right;
    span{
      line-height: 40px;
      padding: 0;
      margin: 0 10px;
      
    }
    div{
      padding: 0;
    }
  }
}
.right_content{
  padding: .5rem;
  .right_int{
    padding: .5rem;
    border: 1px solid $light-grey;
  }
}
.post{
  // background-color: $light-grey;
  padding: 0;
  margin: 10px 0;
  border: 1px solid $light-grey;
  hr{
    margin: 5px 0;
  }
}
.post_img{
  padding: 0;
  padding-top: .5rem;
  img{
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
.post_name{
  font-family: helvetica regular, sans-serif;
  padding: 0;
  padding-top: .5rem;
  text-align: left;
    h4{
      font-family: Bauer Bodoni Black;
      margin: 0;
      font-size: 1em;
      font-weight: bold;
    }
    span{
      font-size: .7em;
    }
}
.post_date{
  padding: .5rem;
  padding-top: .2rem;
  text-align: right;
  span{
    font-size: .6em;
  }
}

.post_text{
  // margin-top: 10px;
  p{
    text-align: left;
    font-size: .8em;
    font-family: helvetica regular, sans-serif;
  }
}
.post_img_main{
  padding: 0;
}
.post_img_main img{
  margin: 5px 0;
}
.post_buttons{
  padding: .5rem;
  a{
    padding: 3px;
    border: 1px solid $light-grey;
    color: black;
    float: left;
    font-family: helvetica regular, sans-serif;

  }
  .like_btn{
    padding: 0;
    a{
      padding: 6px 8px;
      background-color: $light-blue;
      color: white;
      border: none;
      font-family: helvetica regular, sans-serif;
    }
  }
  .report_btn{
    padding: 0;
    padding-top: .7rem;
  }
  .report_btn a{
    float: right;
    font-size: .7em;
    font-family: helvetica regular, sans-serif;
  }
}
.right_content{
  hr{
    margin: 10px 0;
  }
}
.right_addr{
  padding: .2em;
  margin: 10px 0;
}
.right_address{
  margin-bottom: 10px;
  padding: 0;
}
.right_addr h4{
  padding: 0;
  margin: 0;
  font-size: .6em;
  font-weight: bold;
}
.right_phone{
  padding: 0;
  text-align: right;
}
.right_cal{
  border: 1px solid $light-grey;
  border-bottom: none;
  overflow-x: scroll;
  width: 100%;
  table{
    border: none;
  }
  td{
    font-family: helvetica regular, sans-serif;
    border-bottom: 1px solid $light-grey;
    border-right: 1px solid $dark-grey;
  }
}
.right_cal h3{
  font-family: Bauer Bodoni Black;
  font-size: 1em;  
  text-align: center;
  font-weight: bold;
}
.room{
  padding: .5em;
}
.avail_rooms{
  border: 1px solid $light-grey;
  border-top: none;
  padding: 0;
  height: 400px;
  overflow-y: scroll;
  p{
    font-size: .6em;
  }
  .room_int{
    padding: 0;
  }
}
.avail_rooms h3{
  font-family: helvetica regular, sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.avail_rooms h4{
  font-size: 1em;
  font-family: helvetica regular, sans-serif;
}
.room_btn{
  padding-top: 1rem;
  padding-left: 0;
}
.room_btn a{
  color: $white;
  background-color: $light-blue;
  padding: 6px;
  float: left;
}
//connection page
.connect_area{
  padding: 0;
}
.connection{
  padding: .5rem;
  
}
.conn_img{
  padding: .5rem;
  img{
    display: block;
    margin: 0 auto;
    width: 100%;
  }
}

.connection_int{
  border: 1px solid $light-grey;
  padding: 0;
}
.conn_label{
  padding: .5rem;
  div{
    padding: 0;
  }
  hr{
    margin: 10px 0;
  }
  h4{
    font-family: Bauer Bodoni Black;
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
  }
  span{
    font-family: helvetica regular, sans-serif;
    font-size: .8em;
  }
  .conn_btn{
    padding: .5rem 0;
  }
  button{
    margin: 0;
    width: 85%;
    padding: .5rem;
    text-align: center;
  }
}
//profile page
.prof_content{
  padding: 0;
  position: relative;
  height: 280px;
  background-image: url('https://images.unsplash.com/photo-1451186859696-371d9477be93?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=793b5d1d4707b9d5685bb15e8a99467e')
}
.prof_main{
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.prof_right{
  padding: 0;
  position: relative;
  height: 280px;
}
.name_job{
  padding: 0;
}
.prof_left{
  padding: .5em;
  height: 280px;
  position: relative;
  img{
    // width: 95%;
    display: block;
    margin: 0 auto;
    border: 2px solid $white;
    position: absolute;
    bottom: 5px;
    left: 5px;
    max-width: 95%;
    max-height: 95%;
  }
  overflow: hidden;
}
.prof_right_links{
  padding: 0;
  font-size: 2.5em;
}
.prof_right_btn{
  padding: 0;

  button{
    margin-bottom: 0;
    width: 100%;
  }
}
.prof_nav{
  padding: .5rem;


}

.prof_nav ul{
  // background-color: $light-grey;
  // border: 1px solid $light-grey;
  padding: 0 0 0 .2rem;
  list-style: none;
  li{
    background-color: $light-grey;
    padding: .52rem;
    font-size: 1em;
    margin: 0 6px 6px 6px;
  }
  li:hover{
    background-color: $dark-grey;
  }
  a{
    font-family: helvetica regular, sans-serif;
    color: black;
  }
}

.overlay{
  background-color: $light-blue;
  opacity: .6;
  padding: 0;
  height: 100%; 
}
.prof_main_int{
  position: absolute;
  top: 7%;
  left: 0%;
  .prof_img img{
    width: 100%;
    // height: 90%;
  }
}
.name_job{
  h3{
    font-family: Bauer Bodoni Black;
  }
  span{
    font-family: helvetica regular, sans-serif;
  }
}
.prof_whole{
  padding: 0;
  position: absolute;
  bottom: 0px;
}
.prof_int{
  padding: 0;
  margin-bottom: 20px;
  span{
    margin: 10px 20px 10px 0;
  }
}
.prof_links{
  padding: 0;
  padding-top: 1rem;
}
.prof_btn{
  padding: 0;
  padding-top: 1.3rem;

}
.prof_soc{
  text-align: center;
  a{
    color: $dark-blue;
  }
  div{
    padding: 0;
    line-height: 25px;
  }
  padding: 1.2rem;
  padding-top: .3rem;
  font-size: 2.2em;
  span{
    font-size: .4em;
    margin: 0;
  }
  }
.prof_web{
  padding: 0;
  padding-top: 3.2rem;
  a{
    color: $dark-blue;
    text-decoration: underline;
  }
}
.prof_right_links{

  a{
    color: $dark-blue;
  }

}
.prof_right_site{
    a{
      background-color: $light-grey;
      text-decoration: none;
      color: white;
      padding: 3px 5px;
      border-radius: 3px;
    }
  }
.post_text{
  padding: .5rem;
  p{
    margin: 0;
  }
}
.post_buttons{
  padding: .5rem;
  padding-top: 0;
}
.other_connect{
  font-size: .3em;
}
.connect{
  display: none;
}
.about_me{
  margin-top: 10px;
  border: 1px solid $light-grey;
  padding: .5rem;
  h4{
    margin: 0;
    font-family: Bauer Bodoni Black;
  }
  p{
    font-family: helvetica regular, sans-serif;
    margin: 0;
  }
}
.prof_right_site{
  padding: 0;
  position: relative;
  height: 50px;
  padding-left: 1.5rem;
  a{
    
    position: absolute;
    bottom: 0px;
  }
}
.prof_posts{
  padding: 0;
  .prof_posts_left{
    padding: 0;
    padding-right: .25rem;
  }
  .prof_right_posts{
    padding: 0;
    padding-left: .25rem;
  }
}
.prof_content{
  margin-top: .5rem;
}
.name_job_left{
  display: none;
  h3{
    font-family: Bauer Bodoni Black;
  }
  span{
    font-family: helvetica regular, sans-serif;
  }
}
.prof_nav2{
  display: none;
}
//media queries
@media (max-width: 1024px){
  
  .content{
    width: 100%;
  }
  
  .main_cap h4{
    font-size: 1.8em;
  }
  .main_cap span{
    font-size: 1em;
  }
  .main_nav_int img{
    width: 100%;
  }
  .mid_int img{
    width: 40%;
  }
  .main_nav_left{
    .main_nav_int{
      border: none;
    }
    .main_nav_list ul li{
    font-size: 1em;
    }
  }
  .mid_img a{
    font-size: 1.2em;
  }
  .right_addr h4{
    font-size: 1em;
  }
  .conn_label{
    margin: 10px 0;
    h4{
      font-size: 1.3em;
    }
    span{
      font-size: 1.1em;
    }
    .conn_btn{
      margin: 10px 0;
    }
  }
  .post_img_main{
    img{
      width: 100%;
    }
  }
  .prof_soc{
    text-align: left;
  }
  .prof_web{
    padding-top: 0;
  }
  .prof_right_btn{
    
  }
}
@media (max-width: 768px){
  .other_connect{
    display: none;
  }
  // .prof_content{
  //   text-align: center;
  // }
  .prof_int{
    span{
      margin: 0;
    }
  }
  .right_content{
    display: none;
  }

  .main_nav_list{
    height: 215px;
    overflow-y: scroll;
    
  }
  .post_img{
    img{
      width: 90%;
    }
  }
  .post_name{
    h4{
      font-size: 1.5em;
    }
    span{
      font-size: 1em;
    }
  }
  .post_text{

    p{
      font-size: 1em;
    }
  }
  .mid_int a{
    font-size: 1em;
  }

  .create_post{

    input{
      width: 85%;
    }
    select{
      width: 85%;
      float: left;
    }
  }
  .main_cap{
    text-align: center;
  }
}
@media(max-width: 640px){

  .big-logo{
    display: none;
  }
  .prof_right_btn{
    button{
      width: 85%;
      margin-bottom: 0px;
      margin-top: 10px;
    }
  }
  .prof_right_links{
    padding: 0;
    div{
      padding-left: 0;
      padding-right: 0;
    }
  }
  .prof_right_site{
    padding-left:0;
    padding-bottom: 0rem;
    a{
      position: static;
    }
  }
  .mid_int_top{
    display: none;
  }
  .prof_int{
    margin-bottom: 0;
  }
}
@media (max-width: 475px){
  .prof_nav{
    display: none;
  }
  .name_job{
    display: none;
  }
  .create_post{
    input{
      width: 100%;
    }
  }
  .mid_int .create_post i {
    font-size: 2.2em;
    float: left;
}
  .name_job_left{
    display: inline-block;
    padding-left: .5rem;
    padding-bottom: .2rem;
    padding-top: 1rem;
    h3{
      font-size: 1.7em;
      margin-bottom: 0;
    }
  }
  .prof_left img{
    bottom: 5px;
    max-height: 200px;
  }
  .prof_left{
    height: 180px;
  }
  .prof_right{
    height: 180px;
  }
  .prof_whole{
    bottom: -15px;
    padding-left: .5rem;
  }
  .mid_int{

    .create_post{
      // background-color: $dark-grey;
      border: none;
      margin-top: 0;
      div{
      padding: 0;
      }
      .create_two{
        padding: 0;
      }
    }
  }
  .mid_img a{
    font-size: .8em;
  }
  .main_nav_left{
    padding: 0;
    .main_nav_list{
      background-color: $light-grey;
      height: 40px;
      white-space: nowrap;
      ul{

        li{
          display: inline-block;
          margin: 0 20px;
          color: white;
        }
      }

    }
  }
  .prof_nav2{
    padding: 0;
    background-color: $light-grey;
    display: inline-block;
    padding: 0;
    white-space: nowrap;
    overflow-x: scroll;
    ul{
      margin: 0;
      padding: 0;
      li{
        display: inline-block;
        margin: 10px 20px;
        color: white;

      }
    }
  }
  
  .prof_img{
    padding: 0;
  }
  .prof_name{
    padding: 0;
  }
  .prof_links{
    clear: left;
  }
  .post{
    margin-top: 0;
    padding: .2rem;
    font-family: helvetica regular, sans-serif;
  }
  .post_name{
    padding-left: .2rem;
    h4{
      font-size: 1.1em;
      font-family: helvetica regular, sans-serif;
    }
    span{
      font-size: .8em;
      font-family: helvetica regular, sans-serif;
    }
  }
  .post_img{
    img{
      width: 100%;
    }
  }
  .post_date{
    padding: 0;
  }
  .post_text{
    font-size: .8rem;
    padding: 0;
  }
  .post_buttons{
    padding: 0;
  }
  .connection{
    padding-bottom: 0;
    .conn_label{
      margin: 0;
    }
    h4{
      margin: 0;
    }
    span{
      font-size: .75em;
    }
    .conn_btn{
      margin: 0;
    }

  }
  .main_cap{
    padding: 1rem 0; 
    text-align: left;
  }
  .prof_content{
    margin: 0;
  }
  .mid_int .create_post .post_input {
    padding-left: 0;
  }
  .mid_int .filter_feed{
    margin-top: 0;
    span{
      font-size: .8em;
      margin: 0 5px;
    }
  }
  .prof_right_site{
    a{
      background-color: $light-grey;
      text-decoration: none;
      color: white;
      padding: 3px 5px;
      border-radius: 3px;
    }
  }
  .prof_right_links{
    

  }
  .about_me{
    margin: 0;
    border: none;
    h4{
      font-weight: bold;
      font-family: Bauer Bodoni Black;
    }
    p{
      font-family: helvetica regular, sans-serif;
    }
  }
  select{
    margin-bottom: 10px;
  }

}