////Header////
.name i{
  margin: 0 15px;
}
.main-menu li{
  border-bottom: 1px solid white;
}
.main-menu i{
  float: right;
  margin: 15px;
}
.top-bar-section .dropdown li{
  width: 200%;
}
.content{
  width: 70%;
  margin: 0 auto;
}
.main_nav_left{
  padding: .5rem;
  .main_nav_int{
    padding: .5rem;
    border: 1px solid #9A9FA1;
    text-align: center;
    // margin-bottom: 15px;
  }
  .main_cap{
    padding: .5rem;
  }
  .main_nav_list{
    padding: 0;
    border: 1px solid #9A9FA1;
  }
  .main_nav_list ul{
    list-style: none;
    padding: .5rem;
    margin: 0;
    li{
      font-size: .8rem;
      text-decoration: underline;
      margin: 10px 0;
    }
  }
}
.copyright{
  font-size: .6em;
}
.main_cap{
  margin-bottom: 10px;
}
.main_cap h4{
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
.main_cap span{
  font-size: .7rem;
}
.mid_content{

  padding: .5rem;
}

.mid_int{
  padding: 0;
  text-align: center;

  img{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  img:hover{
    cursor: pointer;
  }
  a{
    color: black;
    font-size: .7rem;
  }
  .mid_int_top{
    padding: .5em;
    border: 1px solid #9A9FA1;
    margin-bottom: 10px;
  }
  .create_post{
    padding: .5rem;
    border: 1px solid #9A9FA1;
    margin: 10px 0;
    .create_two{
      padding: 0;
      padding-right: .5rem;
    }
    .create_img{
      padding: 0;
      padding-right: .5rem;
    }
    .create_select select{
      margin-bottom: 0;
    }
    .create_btn{
      padding: 0;
      button{
        height: 35px;
        line-height: 5px;
        float: right;
        margin-bottom: 0;
      }
    }
  }
  
  .create_post i{
    font-size: 3.2em;
    float: right;
  }
}
.right_content{
  padding: .5rem;
  .right_int{
    padding: .5rem;
    border: 1px solid #9A9FA1;
  }
}
.post{
  margin: 10px 0;
  border: 1px solid #9A9FA1;
  hr{
    margin: 5px 0;
  }
}
.post_img{
  padding: 0;
  padding-top: .5rem;
  img{
    width: 80%;
    display: block;
    margin: 0 auto;
  }
}
.post_name{
  padding: 0;
  padding-top: .5rem;
  text-align: left;
    h4{
      margin: 0;
      font-size: 1em;
      font-weight: bold;
    }
    span{
      font-size: .7em;
    }
}
.post_date{
  padding: .5rem;
  padding-top: .2rem;
  text-align: right;
  span{
    font-size: .6em;
  }
}

.post_text{
  margin-top: 10px;
  p{
    text-align: left;
    font-size: .8em;
  }
}
.post_img_main{
  padding: 0;
}
.post_img_main img{
  margin: 5px 0;
}
.post_buttons{
  padding: .5rem;
  a{
    padding: 3px;
    border: 1px solid #9A9FA1;
    color: black;
    float: left;
  }
  .like_btn{
    padding: 0;
  }
  .report_btn{
    padding: 0;
  }
  .report_btn a{
    float: right;
    font-size: .7em;
  }
}
.right_content{
  hr{
    margin: 10px 0;
  }
}
.right_addr{
  padding: .2em;
  margin: 10px 0;
}
.right_address{
  margin-bottom: 10px;
  padding: 0;
}
.right_addr h4{
  padding: 0;
  margin: 0;
  font-size: .6em;
  font-weight: bold;
}
.right_phone{
  padding: 0;
  text-align: right;
}
.right_cal{
  border: 1px solid #9A9FA1;
  border-bottom: none;
  overflow-x: scroll;
  width: 100%;
  table{
    border: none;
  }
  td{
    border-bottom: 1px solid #9A9FA1;
    border-right: 1px solid black;
  }
}
.right_cal h3{
  font-size: 1em;  
  text-align: center;
  font-weight: bold;
}
.room{
  padding: .5em;
}
.avail_rooms{
  border: 1px solid #9A9FA1;
  border-top: none;
  padding: 0;
  height: 400px;
  overflow-y: scroll;
  p{
    font-size: .6em;
  }
  .room_int{
    padding: 0;
  }
}
.avail_rooms h3{
  text-align: center;
  font-size: 1em;
  font-weight: bold;
}
.avail_rooms h4{
  font-size: 1em;
}
.room_btn{
  padding-top: 1rem;
  padding-left: 0;
}
.room_btn a{
  color: white;
  background-color: #0297C2;
  padding: 6px;
  float: left;
}
//connection page
.connect_area{
  padding: 0;
}
.connection{
  padding: .5rem;
  
}
.conn_img{
  padding: 0;
  img{
    display: block;
    margin: .5rem auto;
    width: 80%;
  }
}

.connection_int{
  border: 1px solid #9A9FA1;
  padding: 0;
}
.conn_label{
  padding: 0;
  padding-left:.2rem;
  hr{
    margin: 10px 0;
  }
  h4{
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0px 5px 0px;
  }
  span{
    font-size: .7em;
  }
  .conn_btn{
    padding: .5rem 0;
  }
  button{
    margin: 0;
    width: 85%;
    padding: .5rem;
    text-align: center;
  }
}
//media queries
@media (max-width: 1024px){
  .content{
    width: 100%;
  }
  .main_cap h4{
    font-size: 1.4em;
  }
  .main_cap span{
    font-size: 1em;
  }
  .main_nav_int img{
    width: 90%;
  }
  .mid_int img{
    width: 100%;
  }
  .main_nav_left{
    .main_nav_list ul li{
    font-size: 1em;
    }
  }
  .mid_img a{
    font-size: 1.2em;
  }
  .right_addr h4{
    font-size: 1em;
  }
  .conn_label{
    margin: 10px 0;
    h4{
      font-size: 1.3em;
    }
    span{
      font-size: 1.1em;
    }
    .conn_btn{
      margin: 10px 0;
    }
  }
}
@media (max-width: 475px){
  .mid_img a{
    font-size: .8em;
  }
}