.name i {
  margin: 0 15px; }

.main-menu li {
  border-bottom: 1px solid white; }

.main-menu i {
  float: right;
  margin: 15px; }

.top-bar-section .dropdown li {
  width: 200%; }

.content {
  width: 70%;
  margin: 0 auto; }

.main_nav_left {
  padding: .5rem; }
  .main_nav_left .main_nav_int {
    padding: .5rem;
    border: 1px solid #9A9FA1;
    text-align: center; }
  .main_nav_left .main_cap {
    padding: .5rem; }
  .main_nav_left .main_nav_list {
    padding: 0;
    border: 1px solid #9A9FA1; }
  .main_nav_left .main_nav_list ul {
    list-style: none;
    padding: .5rem;
    margin: 0; }
    .main_nav_left .main_nav_list ul li {
      font-size: .8rem;
      text-decoration: underline;
      margin: 10px 0; }

.copyright {
  font-size: .6em; }

.main_cap {
  margin-bottom: 10px; }

.main_cap h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0; }

.main_cap span {
  font-size: .7rem; }

.mid_content {
  padding: .5rem; }

.mid_int {
  padding: 0;
  text-align: center; }
  .mid_int img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; }
  .mid_int img:hover {
    cursor: pointer; }
  .mid_int a {
    color: black;
    font-size: .7rem; }
  .mid_int .mid_int_top {
    padding: .5em;
    border: 1px solid #9A9FA1;
    margin-bottom: 10px; }
  .mid_int .create_post {
    padding: .5rem;
    border: 1px solid #9A9FA1;
    margin: 10px 0; }
    .mid_int .create_post .create_two {
      padding: 0;
      padding-right: .5rem; }
    .mid_int .create_post .create_img {
      padding: 0;
      padding-right: .5rem; }
    .mid_int .create_post .create_select select {
      margin-bottom: 0; }
    .mid_int .create_post .create_btn {
      padding: 0; }
      .mid_int .create_post .create_btn button {
        height: 35px;
        line-height: 5px;
        float: right;
        margin-bottom: 0; }
  .mid_int .create_post i {
    font-size: 3.2em;
    float: right; }

.right_content {
  padding: .5rem; }
  .right_content .right_int {
    padding: .5rem;
    border: 1px solid #9A9FA1; }

.post {
  margin: 10px 0;
  border: 1px solid #9A9FA1; }
  .post hr {
    margin: 5px 0; }

.post_img {
  padding: 0;
  padding-top: .5rem; }
  .post_img img {
    width: 80%;
    display: block;
    margin: 0 auto; }

.post_name {
  padding: 0;
  padding-top: .5rem;
  text-align: left; }
  .post_name h4 {
    margin: 0;
    font-size: 1em;
    font-weight: bold; }
  .post_name span {
    font-size: .7em; }

.post_date {
  padding: .5rem;
  padding-top: .2rem;
  text-align: right; }
  .post_date span {
    font-size: .6em; }

.post_text {
  margin-top: 10px; }
  .post_text p {
    text-align: left;
    font-size: .8em; }

.post_img_main {
  padding: 0; }

.post_img_main img {
  margin: 5px 0; }

.post_buttons {
  padding: .5rem; }
  .post_buttons a {
    padding: 3px;
    border: 1px solid #9A9FA1;
    color: black;
    float: left; }
  .post_buttons .like_btn {
    padding: 0; }
  .post_buttons .report_btn {
    padding: 0; }
  .post_buttons .report_btn a {
    float: right;
    font-size: .7em; }

.right_content hr {
  margin: 10px 0; }

.right_addr {
  padding: .2em;
  margin: 10px 0; }

.right_address {
  margin-bottom: 10px;
  padding: 0; }

.right_addr h4 {
  padding: 0;
  margin: 0;
  font-size: .6em;
  font-weight: bold; }

.right_phone {
  padding: 0;
  text-align: right; }

.right_cal {
  border: 1px solid #9A9FA1;
  border-bottom: none;
  overflow-x: scroll;
  width: 100%; }
  .right_cal table {
    border: none; }
  .right_cal td {
    border-bottom: 1px solid #9A9FA1;
    border-right: 1px solid black; }

.right_cal h3 {
  font-size: 1em;
  text-align: center;
  font-weight: bold; }

.room {
  padding: .5em; }

.avail_rooms {
  border: 1px solid #9A9FA1;
  border-top: none;
  padding: 0;
  height: 400px;
  overflow-y: scroll; }
  .avail_rooms p {
    font-size: .6em; }
  .avail_rooms .room_int {
    padding: 0; }

.avail_rooms h3 {
  text-align: center;
  font-size: 1em;
  font-weight: bold; }

.avail_rooms h4 {
  font-size: 1em; }

.room_btn {
  padding-top: 1rem;
  padding-left: 0; }

.room_btn a {
  color: white;
  background-color: #0297C2;
  padding: 6px;
  float: left; }

.connect_area {
  padding: 0; }

.connection {
  padding: .5rem; }

.conn_img {
  padding: 0; }
  .conn_img img {
    display: block;
    margin: .5rem auto;
    width: 80%; }

.connection_int {
  border: 1px solid #9A9FA1;
  padding: 0; }

.conn_label {
  padding: 0;
  padding-left: .2rem; }
  .conn_label hr {
    margin: 10px 0; }
  .conn_label h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0px 5px 0px; }
  .conn_label span {
    font-size: .7em; }
  .conn_label .conn_btn {
    padding: .5rem 0; }
  .conn_label button {
    margin: 0;
    width: 85%;
    padding: .5rem;
    text-align: center; }

.prof_content {
  width: 80%; }

.prof_main {
  height: 250px;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1451186859696-371d9477be93?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=793b5d1d4707b9d5685bb15e8a99467e"); }

.prof_nav {
  padding: 0; }

.prof_nav ul {
  padding: 0;
  list-style: none; }
  .prof_nav ul li {
    padding: 0; }

.prof_name {
  position: relative; }

.overlay {
  background-color: #8EAFC5;
  height: 100%;
  opacity: .6;
  padding: 0; }

.prof_main_int {
  position: absolute;
  top: 7%;
  left: 0%; }
  .prof_main_int .prof_img img {
    width: 100%; }

.prof_int {
  padding: 0; }
  .prof_int span {
    margin: 10px 20px 10px 0; }

.prof_links {
  padding: 0;
  padding-top: 1rem; }

.prof_btn {
  padding: 0;
  padding-top: 1.3rem; }

.prof_soc {
  text-align: center;
  padding: 1.2rem;
  padding-top: .3rem;
  font-size: 2.2em; }
  .prof_soc a {
    color: black; }
  .prof_soc div {
    padding: 0;
    line-height: 25px; }
  .prof_soc span {
    font-size: .4em;
    margin: 0; }

.prof_web {
  padding: 0;
  padding-top: 3.2rem; }
  .prof_web a {
    color: black;
    text-decoration: underline; }

@media (max-width: 1024px) {
  .content {
    width: 100%; }

  .prof_content {
    width: 100%; }

  .main_cap h4 {
    font-size: 1.8em; }

  .main_cap span {
    font-size: 1em; }

  .main_nav_int img {
    width: 100%; }

  .mid_int img {
    width: 40%; }

  .main_nav_left .main_nav_int {
    border: none; }
  .main_nav_left .main_nav_list ul li {
    font-size: 1em; }

  .mid_img a {
    font-size: 1.2em; }

  .right_addr h4 {
    font-size: 1em; }

  .conn_label {
    margin: 10px 0; }
    .conn_label h4 {
      font-size: 1.3em; }
    .conn_label span {
      font-size: 1.1em; }
    .conn_label .conn_btn {
      margin: 10px 0; }

  .post_img_main img {
    width: 100%; }

  .prof_soc {
    text-align: left; }

  .prof_web {
    padding-top: 0; } }
@media (max-width: 768px) {
  .right_content {
    display: none; }

  .main_nav_list {
    height: 150px;
    overflow-y: scroll; }

  .post_img img {
    width: 90%; }

  .post_name h4 {
    font-size: 1.5em; }
  .post_name span {
    font-size: 1em; }

  .post_text p {
    font-size: 1em; }

  .mid_int a {
    font-size: 1em; }

  .create_post input {
    width: 85%; }
  .create_post select {
    width: 85%;
    float: left; } }
@media (max-width: 475px) {
  .mid_img a {
    font-size: .8em; }

  .main_nav_list {
    height: 150px;
    overflow-y: scroll; }

  .prof_img {
    padding: 0; }

  .prof_name {
    padding: 0; } }
