body {
  background-color: #f2f0eb; }

.button {
  background-color: #283b4d;
  border-radius: 3px;
  color: #f2f0eb; }

.name i {
  margin: 0 15px;
  background-color: #4e4841; }

.top-bar {
  background-color: #4e4841;
  color: #f2f0eb; }

.contain-to-grid {
  background-color: #4e4841; }

#wat {
  background-color: #4e4841; }

#wat2 {
  background-color: #4e4841; }

.main-menu li {
  border-bottom: 1px solid #f2f0eb;
  background-color: #4e4841; }

.main-menu i {
  float: right;
  margin: 15px; }

.top-bar-section .dropdown li {
  width: 200%; }
  .top-bar-section .dropdown li a {
    background-color: #4e4841; }

.content {
  width: 70%;
  margin: 0 auto; }

.main_nav_left {
  padding: .5rem; }
  .main_nav_left .main_nav_int {
    padding: .5rem;
    border: 1px solid #bcb9ae;
    text-align: center; }
  .main_nav_left .main_cap {
    padding: .5rem; }
  .main_nav_left .main_nav_list {
    padding: 0;
    border: 1px solid #bcb9ae; }
  .main_nav_left .main_nav_list ul {
    list-style: none;
    padding: .5rem;
    margin: 0; }
    .main_nav_left .main_nav_list ul li {
      font-size: .8rem;
      text-decoration: underline;
      margin: 10px 0; }

.copyright {
  font-size: .6em; }

.main_cap {
  margin-bottom: 10px; }

.main_cap h4 {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0; }

.main_cap span {
  font-size: .7rem; }

.mid_content {
  padding: .5rem; }

.mid_int {
  padding: 0;
  text-align: center; }
  .mid_int img {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; }
  .mid_int img:hover {
    cursor: pointer; }
  .mid_int a {
    color: black;
    font-size: .7rem; }
  .mid_int .mid_int_top {
    padding: .5em;
    border: 1px solid #bcb9ae;
    margin-bottom: 10px; }
  .mid_int .create_post {
    padding: .5rem;
    border: 1px solid #bcb9ae;
    margin: 10px 0; }
    .mid_int .create_post .create_two {
      padding: 0;
      padding-right: .5rem; }
    .mid_int .create_post .create_img {
      padding: 0;
      padding-right: .5rem; }
    .mid_int .create_post .create_select select {
      margin-bottom: 0; }
    .mid_int .create_post .create_btn {
      padding: 0; }
      .mid_int .create_post .create_btn button {
        height: 35px;
        line-height: 5px;
        float: right;
        margin-bottom: 0; }
  .mid_int .create_post i {
    font-size: 3.2em;
    float: right; }

.right_content {
  padding: .5rem; }
  .right_content .right_int {
    padding: .5rem;
    border: 1px solid #bcb9ae; }

.post {
  margin: 10px 0;
  border: 1px solid #bcb9ae; }
  .post hr {
    margin: 5px 0; }

.post_img {
  padding: 0;
  padding-top: .5rem; }
  .post_img img {
    width: 80%;
    display: block;
    margin: 0 auto; }

.post_name {
  padding: 0;
  padding-top: .5rem;
  text-align: left; }
  .post_name h4 {
    margin: 0;
    font-size: 1em;
    font-weight: bold; }
  .post_name span {
    font-size: .7em; }

.post_date {
  padding: .5rem;
  padding-top: .2rem;
  text-align: right; }
  .post_date span {
    font-size: .6em; }

.post_text {
  margin-top: 10px; }
  .post_text p {
    text-align: left;
    font-size: .8em; }

.post_img_main {
  padding: 0; }

.post_img_main img {
  margin: 5px 0; }

.post_buttons {
  padding: .5rem; }
  .post_buttons a {
    padding: 3px;
    border: 1px solid #bcb9ae;
    color: black;
    float: left; }
  .post_buttons .like_btn {
    padding: 0; }
  .post_buttons .report_btn {
    padding: 0; }
  .post_buttons .report_btn a {
    float: right;
    font-size: .7em; }

.right_content hr {
  margin: 10px 0; }

.right_addr {
  padding: .2em;
  margin: 10px 0; }

.right_address {
  margin-bottom: 10px;
  padding: 0; }

.right_addr h4 {
  padding: 0;
  margin: 0;
  font-size: .6em;
  font-weight: bold; }

.right_phone {
  padding: 0;
  text-align: right; }

.right_cal {
  border: 1px solid #bcb9ae;
  border-bottom: none;
  overflow-x: scroll;
  width: 100%; }
  .right_cal table {
    border: none; }
  .right_cal td {
    border-bottom: 1px solid #bcb9ae;
    border-right: 1px solid #4e4841; }

.right_cal h3 {
  font-size: 1em;
  text-align: center;
  font-weight: bold; }

.room {
  padding: .5em; }

.avail_rooms {
  border: 1px solid #bcb9ae;
  border-top: none;
  padding: 0;
  height: 400px;
  overflow-y: scroll; }
  .avail_rooms p {
    font-size: .6em; }
  .avail_rooms .room_int {
    padding: 0; }

.avail_rooms h3 {
  text-align: center;
  font-size: 1em;
  font-weight: bold; }

.avail_rooms h4 {
  font-size: 1em; }

.room_btn {
  padding-top: 1rem;
  padding-left: 0; }

.room_btn a {
  color: white;
  background-color: #0297C2;
  padding: 6px;
  float: left; }

.connect_area {
  padding: 0; }

.connection {
  padding: .5rem; }

.conn_img {
  padding: 0; }
  .conn_img img {
    display: block;
    margin: .5rem auto;
    width: 80%; }

.connection_int {
  border: 1px solid #bcb9ae;
  padding: 0; }

.conn_label {
  padding: 0;
  padding-left: .2rem; }
  .conn_label hr {
    margin: 10px 0; }
  .conn_label h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 10px 0px 5px 0px; }
  .conn_label span {
    font-size: .7em; }
  .conn_label .conn_btn {
    padding: .5rem 0; }
  .conn_label button {
    margin: 0;
    width: 85%;
    padding: .5rem;
    text-align: center; }

.prof_content {
  padding: 0;
  position: relative;
  height: 280px;
  background-image: url("https://images.unsplash.com/photo-1451186859696-371d9477be93?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=793b5d1d4707b9d5685bb15e8a99467e"); }

.prof_main {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0; }

.prof_right {
  padding: 0;
  position: relative;
  height: 280px; }

.name_job {
  padding: 0; }

.prof_left {
  padding: .5em;
  height: 280px;
  position: relative;
  overflow: hidden; }
  .prof_left img {
    display: block;
    margin: 0 auto;
    border: 2px solid #f2f0eb;
    position: absolute;
    bottom: 5px;
    left: 5px;
    max-width: 95%;
    max-height: 95%; }

.prof_right_links {
  padding: 0;
  font-size: 2.5em; }

.prof_right_btn {
  padding: 0; }
  .prof_right_btn button {
    margin-bottom: 0;
    width: 100%; }

.prof_nav {
  padding: .5rem; }

.prof_nav ul {
  border: 1px solid #bcb9ae;
  padding: .5rem;
  list-style: none; }
  .prof_nav ul li {
    padding: 0;
    font-size: 1.2em; }

.overlay {
  background-color: #b4d5eb;
  opacity: .6;
  padding: 0;
  height: 100%; }

.prof_main_int {
  position: absolute;
  top: 7%;
  left: 0%; }
  .prof_main_int .prof_img img {
    width: 100%; }

.prof_whole {
  padding: 0;
  position: absolute;
  bottom: 0px; }

.prof_int {
  padding: 0;
  margin-bottom: 20px; }
  .prof_int span {
    margin: 10px 20px 10px 0; }

.prof_links {
  padding: 0;
  padding-top: 1rem; }

.prof_btn {
  padding: 0;
  padding-top: 1.3rem; }

.prof_soc {
  text-align: center;
  padding: 1.2rem;
  padding-top: .3rem;
  font-size: 2.2em; }
  .prof_soc a {
    color: #283b4d; }
  .prof_soc div {
    padding: 0;
    line-height: 25px; }
  .prof_soc span {
    font-size: .4em;
    margin: 0; }

.prof_web {
  padding: 0;
  padding-top: 3.2rem; }
  .prof_web a {
    color: #283b4d;
    text-decoration: underline; }

.prof_right_links a {
  color: #283b4d; }

.other_connect {
  font-size: .3em; }

.connect {
  display: none; }

.about_me {
  margin-top: 10px;
  border: 1px solid #bcb9ae; }

.prof_right_site {
  padding: 0;
  position: relative;
  height: 50px;
  padding-left: 1.5rem; }
  .prof_right_site a {
    color: black;
    text-decoration: underline;
    position: absolute;
    bottom: 0px; }

.prof_posts {
  padding: 0; }
  .prof_posts .prof_posts_left {
    padding: 0;
    padding-right: .25rem; }
  .prof_posts .prof_right_posts {
    padding: 0;
    padding-left: .25rem; }

.prof_content {
  margin-top: .5rem; }

@media (max-width: 1024px) {
  .content {
    width: 100%; }

  .main_cap h4 {
    font-size: 1.8em; }

  .main_cap span {
    font-size: 1em; }

  .main_nav_int img {
    width: 100%; }

  .mid_int img {
    width: 40%; }

  .main_nav_left .main_nav_int {
    border: none; }
  .main_nav_left .main_nav_list ul li {
    font-size: 1em; }

  .mid_img a {
    font-size: 1.2em; }

  .right_addr h4 {
    font-size: 1em; }

  .conn_label {
    margin: 10px 0; }
    .conn_label h4 {
      font-size: 1.3em; }
    .conn_label span {
      font-size: 1.1em; }
    .conn_label .conn_btn {
      margin: 10px 0; }

  .post_img_main img {
    width: 100%; }

  .prof_soc {
    text-align: left; }

  .prof_web {
    padding-top: 0; } }
@media (max-width: 768px) {
  .other_connect {
    display: none; }

  .prof_int span {
    margin: 0; }

  .right_content {
    display: none; }

  .main_nav_list {
    height: 150px;
    overflow-y: scroll; }

  .post_img img {
    width: 90%; }

  .post_name h4 {
    font-size: 1.5em; }
  .post_name span {
    font-size: 1em; }

  .post_text p {
    font-size: 1em; }

  .mid_int a {
    font-size: 1em; }

  .create_post input {
    width: 85%; }
  .create_post select {
    width: 85%;
    float: left; } }
@media (max-width: 640px) {
  .prof_right_btn button {
    width: 55%;
    margin-bottom: 10px; }

  .prof_right_links {
    padding: 0; }
    .prof_right_links div {
      padding-left: 0;
      padding-right: 0; }

  .prof_right_site {
    padding-left: 0;
    padding-bottom: 1rem; }
    .prof_right_site a {
      position: static; } }
@media (max-width: 475px) {
  .mid_img a {
    font-size: .8em; }

  .main_nav_list {
    height: 150px;
    overflow-y: scroll; }

  .prof_img {
    padding: 0; }

  .prof_name {
    padding: 0; }

  .prof_links {
    clear: left; } }
